<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>staon-web-pabr</display-name>


	<!-- *************************************************************************** -->
	<!-- ******************* Configurazioni Spring ********************************* -->
	<!-- *************************************************************************** -->
	<!-- -->

	<!-- main spring xml descriptor
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:spring/spring-main.xml</param-value>
	</context-param>
	-->

	<servlet>
		<description>Autoinstalla i servizi soap di bridge</description>
		<display-name>Apache-SOAP Autoinstaller (CSI)</display-name>
		<servlet-name>autoinstaller</servlet-name>
		<servlet-class>it.csi.csi.porte.soap.apache.AutoInstallerServlet</servlet-class>
		<init-param>
			<param-name>servicedef-pabrServizioConsultazione</param-name>
			<param-value>/WEB-INF/deploysoapejb-staonServizioConsultazione.xml</param-value>
		</init-param>
		<load-on-startup>1000</load-on-startup>
	</servlet>
	<servlet>
		<description>no description</description>
		<display-name>Apache-SOAP RPC Router</display-name>
		<servlet-name>rpcrouter</servlet-name>
		<servlet-class>org.apache.soap.server.http.RPCRouterServlet</servlet-class>
		<init-param>
			<param-name>faultListener</param-name>
			<param-value>org.apache.soap.server.DOMFaultListener</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>autoinstaller</servlet-name>
		<url-pattern>/servlet/autoinstaller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>rpcrouter</servlet-name>
		<url-pattern>/servlet/rpcrouter</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>1</session-timeout>
	</session-config>
</web-app>